.ib-on
{
    background-color: rgb(206, 255, 206);
}

.ib-off
{
    background-color: rgb(255, 204, 204);
}





@keyframes spriteDeath 
{
	from {
		width: 100%;
	}
	to {
        transform: rotate(-60deg);
		width: 0px;
    }
}

@keyframes containerDeath 
{
	from {
		width: 150px;
	}
	to {
		width: 0px;
    }
}


.entity
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 5px;
}

.entity-sprite.death
{ 
    animation: spriteDeath 1.1s 1;
}
.entity.death
{
    animation: containerDeath 1.1s 1;
}
  





.enemy-container
{
    display: flex;
    flex-wrap: wrap;
}

h3
{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}